.configs {
  padding: 10px;
  color: white;
}

.configs > * {
  padding: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}

.config_groups  {
  padding-top: 15px;
  padding-bottom: 15px;
}

.success {
  color: green;
}
.error {
  color: red;
}